@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/yekanbakh/YekanBakhFaNum-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/yekanbakh/YekanBakhFaNum-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/yekanbakh/YekanBakhFaNum-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/yekanbakh/YekanBakh_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Modam";
  src: url("/fonts/modam/Modam-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Modam";
  src: url("/fonts/modam/Modam-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Modam";
  src: url("/fonts/modam/Modam-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
