@import "tailwindcss";
@import "./css/fonts.css";

body {
  font-family: "YekanBakh", sans-serif;
  font-weight: 400;
}

@theme {
  /* Fonts */
  --font-modam: "modam", sans-serif;
  /* Colors */
  --color-primary: #5eb5f8;
  --color-secondary: #1f2732;
  --color-light-gray: #858585;
  --color-light-blue: #edf6fd;
  --color-white-10: #ffffff1a;
  --color-product-bg: #F4F4F4;
  --color-price: #28221E;
  --color-old-price: #837C74;
}

@layer components {
  /* Overlay */
  .overlay {
    @apply fixed md:hidden top-14 inset-x-0 bottom-0 bg-black/20 opacity-0 invisible transition-all duration-200 z-40;
  }
  .overlay.active {
    @apply opacity-100 visible;
  }
  /* Hamburger Button */
  .menu-btn {
    @apply relative w-10 h-10 flex flex-col items-center justify-center gap-[3.5px] bg-primary md:hidden rounded-lg;
  }
  .menu-btn__line {
    @apply absolute w-5 h-0.5 bg-white rounded transition-all duration-200 ease-in-out;
  }
  .menu-btn__line--top {
    @apply top-3.5;
  }
  .menu-btn__line--bottom {
    @apply bottom-[13.5px];
  }
  .menu-btn.active .menu-btn__line--top {
    @apply top-1/2 -translate-y-1/2 rotate-45;
  }
  .menu-btn.active .menu-btn__line--middle {
    @apply opacity-0;
  }
  .menu-btn.active .menu-btn__line--bottom {
    @apply top-1/2 -translate-y-1/2 -rotate-45;
  }

  /* Nav Menu */
  .nav {
    @apply absolute z-50 top-full left-0 right-0 bg-white w-full max-h-0 overflow-hidden transition-all duration-200 md:static md:overflow-visible md:max-h-none;
  }
  .nav.open {
    @apply max-h-96 p-3 pt-5;
  }
  .nav-menu {
    @apply flex items-center justify-center flex-col gap-2 md:flex-row md:gap-4;
  }
  .nav-menu__item {
    @apply transition-all duration-200;
  }
  .nav-menu__link--active {
    @apply text-secondary;
  }
}
